<!DOCTYPE html>
<html>
<head>
    <title>FriendsDrinks</title>
    <link href="/css/index.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>
    <h1>FriendsDrinks</h1>
    <p>Tagline!</p>
  <nav>
    <a href="/">Home</a>
  </nav>
</header>


</body>
</html>
