<!DOCTYPE html>
<html>
<head>
    <title>FriendsDrinks Invitation</title>
    <link href="/css/index.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>
    <a href="/">Home</a>
</header>

<section>
    <p> <%= message %> </p>
    <form action = "/friendsdrinks/replyToInvitation/<%= friendsDrinksId %>" method = "POST">
        <div>
            <label>Reply</label>
            <input type = "text" name = "invitationReply" required="required"> <br>
        </div>
        <input type = "submit" value = "Reply to invitation">
    </form>

</section>

</body>
</html>
