<!DOCTYPE html>
<html>
<head>
    <title>FriendsDrinks</title>
    <link href="/css/index.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div>
    <header>
        <a href="/logout">Logout</a>
    </header>
    <section>
        <h1>Welcome <%= username %>! FriendsDrinks lets you schedule drinks with your friends!</h1>
        <table>
          <tr>
            <th>Name</th>
            <th>Friends</th>
            <th>Raw Backend Response</th>
          </tr>
            <% for (var i = 0; i < friendsDrinks.length; i++) { %>
              <tr>
                <td><%= friendsDrinks[i].name %></td>
                <td><%= friendsDrinks[i].friends %></td>
                <td><%= friendsDrinks[i].body %></td>
              </tr>
           <% } %>
        </table>
    </section>
    </div>
</body>
</html>