<!DOCTYPE html>
<html>
<head>
    <title>FriendsDrinks</title>
    <link href="/css/index.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div>
    <header>
        <a href="/logout">Logout</a>
    </header>
    <section>
        <h1>Welcome! FriendsDrinks lets you schedule drinks with your friends!</h1>
    </section>
    </div>
</body>
</html>