<!DOCTYPE html>
<html>
<head>
    <title>FriendsDrinks</title>
    <link href="/css/index.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div>
    <header>
        <a href="/logout">Logout</a>
    </header>
    <section>
        <h1>Welcome <%= username %>! FriendsDrinks lets you schedule drinks with your friends!</h1>
        <table>
          <tr>
            <th>FriendsDrinks you're the admin of</th>
          </tr>
            <% for (var i = 0; i < adminFriendsDrinks.length; i++) { %>
              <tr>
                <td><%= adminFriendsDrinks[i].id %></td>
              </tr>
           <% } %>
        </table>
        <table>
          <tr>
            <th>FriendsDrinks you're a member of</th>
          </tr>
            <% for (var i = 0; i < memberFriendsDrinks.length; i++) { %>
              <tr>
                <td><%= memberFriendsDrinks[i].id %></td>
              </tr>
           <% } %>
        </table>
        <table>
          <tr>
            <th>Friends ID invitations</th>
          </tr>
            <% for (var i = 0; i < invitations.length; i++) { %>
              <tr>
                <td><%= invitations[i].friendsDrinksId %></td>
              </tr>
           <% } %>
        </table>
        <form action = "/friendsdrinks" method = "POST">
            <div>
                <label>Name</label>
                <input type = "text" name = "name" required="required" > <br>
            </div>
            <div>
                <label>Friend</label>
                <input type = "text" name = "friend" required="required"> <br>
            </div>
            <input type = "submit" value = "Create!">
        </form>
        <form action = "/friendsdrinks" method = "POST">
            <div>
                <label>ID</label>
                <input type = "text" name = "id" required="required"> <br>
            </div>
            <div>
                <label>Name</label>
                <input type = "text" name = "name" required="required"> <br>
            </div>
            <input type = "submit" value = "Update!">
        </form>

        <form action = "/friendsdrinks" method = "POST">
            <div>
                <label>ID</label>
                <input type = "text" name = "id" required="required"> <br>
            </div>
            <div>
                <label>Name</label>
                <input type = "text" name = "userId" required="required"> <br>
            </div>
            <input type = "submit" value = "Add friend!">
        </form>
        <form action = "/friendsdrinks" method = "POST">
            <div>
                <label>ID</label>
                <input type = "text" name = "id" required="required"> <br>
            </div>
            <div>
                <label>Admin user ID</label>
                <input type = "text" name = "adminUserId" required="required"> <br>
            </div>
            <div>
                <label>Reply</label>
                <input type = "text" name = "invitationReply" required="required"> <br>
            </div>
            <input type = "submit" value = "Reply to invitation">
        </form>

        <form action = "/deletefriendsdrinks" method = "POST">
            <div>
                <label>ID</label>
                <input type = "text" name = "id" required="required"> <br>
            </div>
            <input type = "submit" value = "Delete!">
        </form>
    </section>
    </div>
</body>
</html>