<!DOCTYPE html>
<html>
<head>
    <title>FriendsDrinks</title>
    <link href="/css/index.css" rel="stylesheet" type="text/css">
</head>
<h1>FriendsDrinks</h1>
<body>Welcome to FriendsDrinks <%= username %>!</body>
</html>