<!DOCTYPE html>
<html>
<head>
    <link href="/css/login.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
    <header>
        <form action = "/login" method = "POST">
            Email: <input type = "text" name = "email"> <br>
            Password: <input type = "text" name = "password"> <br>
            <input type = "submit" value = "Login">
        </form>
    </header>
    <section>
        <h1>FriendsDrinks lets you schedule drinks with your friends!</h1>
        <a href="/signup">Sign up today for free!</a>
    </section>
</div>
</body>
</html>