<!DOCTYPE html>
<html>
<head>
    <link href="/css/logout.css" rel="stylesheet" type="text/css">
</head>
    <body>
    <header>
       <form action = "/logout" method = "POST">
          <input type = "submit" value = "Logout">
       </form>
    </header>
    </body>
 </html>