<!DOCTYPE html>
<html>
<head>
    <link href="/css/signup.css" rel="stylesheet" type="text/css">
</head>
<body>
<div>
    <header>
        <form action = "/signup" method = "POST">
            Email: <input type = "text" name = "email" required="required">  <br>
            Password: <input type = "text" name = "password" required="required"> <br>
            First Name: <input type = "text" name = "firstname" required="required"> <br>
            Last Name: <input type = "text" name = "lastname" required="required"> <br>
            <input type = "submit" value = "Sign up">
        </form>
    </header>
    <section>
        <h1>Sign up today with FriendsDrinks to schedule drinks with your friends!</h1>
        <a href="/login">Already signed up? Login!</a>
    </section>
</div>
</body>
</html>